-Dhttp.proxyHost=prxp01.admin.ch
-Dhttp.proxyPort=8080
-Dhttps.proxyHost=prxp01.admin.ch
-Dhttps.proxyPort=8080
-Dhttp.nonProxyHosts=localhost|127.0.0.1|*.bit.admin.ch
-Dhttps.nonProxyHosts=localhost|127.0.0.1|*.bit.admin.ch
-Djavax.net.ssl.trustStorePassword=changeit
-Djavax.net.ssl.trustStore=$JAVA_HOME/jre/lib/security/cacerts
-Djavax.net.ssl.trustAnchors=$JAVA_HOME/jre/lib/security/cacerts