

# Inspired by https://thomasthornton.cloud/2025/03/18/setting-up-trivy-in-your-github-actions/
name: Pull Request Check
run-name: ${{ github.repository }} is evaluating pull request
on: [pull_request]

permissions:
  actions: read
  security-events: write
  contents: read
  packages: write
  attestations: write
  id-token: write
  pull-requests: write  # allow coverage comment

jobs:
  docker-security-scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: java
          config-file: ./.github/codeql/codeql-config.yml
      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'maven'
      - name: Build & test with Maven (produce JaCoCo)
        run: mvn --batch-mode clean verify -DskipTests=false
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v3
        with:
          category: "/language:java"
      - name: Upload JaCoCo reports
        uses: actions/upload-artifact@v4
        with:
          name: jacoco-reports
          path: |
            verifier-service/target/site/jacoco/jacoco.xml
            verifier-service/target/site/jacoco/index.html
            verifier-application/target/site/jacoco/jacoco.xml
            verifier-application/target/site/jacoco/index.html

      - name: Setup Node.js (for coverage summary script)
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Add coverage to summary
        run: node .github/scripts/coverage-summary.js

      - name: Run PMD static analysis
        uses: pmd/pmd-github-action@v2
        id: pmd
        with:
          rulesets: '.github/rulesets/java/pmd_omni_ruleset.xml'
          cache: false

      - name: Upload PMD SARIF to GitHub Code Scanning
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: pmd-report.sarif

      - name: Build and push docker image
        id: push
        uses: docker/build-push-action@v6
        with:
          context: .
          load: true
          pull: true # Prevent old images to be used, which may trigger CVE findings
          tags: pull_request_check:latest
          build-args: SOURCE_IMAGE=eclipse-temurin:21-jre-ubi9-minimal
          file: Dockerfile

      - name: Run Trivy vulnerability scan
        uses: aquasecurity/trivy-action@0.30.0
        with:
          image-ref: pull_request_check:latest
          severity: 'CRITICAL,HIGH'
          exit-code: 1
          ignore-unfixed: true
          format: table